.container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 20px;
}

.list {
  max-height: 408px;
  overflow: hidden scroll;
}

.poster {
  border-radius: 5px;
  overflow: hidden;
  .img {
    width: 58px;
    height: 86px;
    border-radius: 5px;
  }
}

.title {
  font-size: 12px;
  margin-top: 30px;
}

.info {
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1;

  .name {
    font-size: 13px;
  }

  .vote-user {
    font-size: 16px;
  }
}
