.wrapper {
  width: calc(100% - calc(var(--width-default-sidebar) + var(--width-default-sidebarforcontent)));
  height: 70px;
  background-color: var(--default-backgourd-color-content);
  position: fixed;
  z-index: 9;
}

.container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  padding: 0 calc(var(--padding-content-left-and-right) + 14px);
}

.user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 20%;
  height: 40px;
}

.notice {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.title-notice {
  padding-right: 8px;
  padding-left: 4px;
  font-size: 14px;
  font-weight: 600;
  display: none;
  transition: display 2s linear;
  visibility: hidden;
}

.notice-icon {
  padding: 8px 10px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: var(--white-color);
  background-color: var(--primary-2-color);

  &:hover {
    transition: padding-left 1s linear;
  }

  &:hover .title-notice {
    display: block;
    visibility: visible;
    transition: visible 2s linear;
  }
}

.notice {
  width: 30%;
}
